/*
  groen: #8FE862;
  lichtgrijs:  #F2E3E3;
  donkergrijs: #525049;

*/

body
{
  background-color: #DFFEF1;
  font-family: 'Segoe UI';
}

.container
{
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

@media screen and (min-width: 1000px){
  .container
  {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }


}


h2,p, table, a
{
  font-family: 'Segoe UI';
  color: #525049;
}

h1
{
  font-size: 25px;
  font-weight: bold;
  font-family: 'Segoe UI';
  border-bottom: 2px solid #8FE862;;
  padding-bottom: 10px;
  color: #8FE862;
}

header h1
{
  color: #fff;
  text-align: center;
}

h2
{
  font-size: 18px;
  font-weight: bold;
  color: #525049;
}

label
{
  font-family: 'Segoe UI';
}

/*--------HEADER ---------------------*/

header
{
  width: 100%;
  height: 80px;
  background-color: #8FE862;
}

.logout
{
  position: absolute;
  right: 10%;
  text-decoration: none;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
}

.logout:hover
{
  border: none;
  background-color: #F2E3E3;
  color: #525049;
  padding: 10px;
}

/*---------SIGN UP  en LOG IN-------------------- */

#sign_up_form
{
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
}

#sign_up_form h1
{
  margin-bottom: 50px;
}

#sign_up_form input, .select_study, .input_title, .submit_button, .input_list_title
{
  padding: 15px;
  width: 300px;
  display: block;
  /*margin-bottom: 30px;*/
  border-radius: 200px;
}

.sign_up_fields
{
  margin-bottom: 30px;
}

.sign_up_fields p
{
  font-size: 12px;
}

@media screen and (min-width: 1000px){

  #sign_up_form
  {
    width: 40%;
  }
}

.input_account, .select_study
{
  background-color: #F2E3E3;
  border: none;
}

.submit_button
{
  color: #fff;
  border: 1px solid #8FE862;
  background-color: #8FE862;
  font-weight: bold;
  font-size: 20px;
}

.submit_button:hover
{
  border: 1px solid #10B01D;
  background-color: #10B01D;
  color: #fff;
  cursor: pointer;
}

.error
{
  width: 250px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: rgba(255,41,48,0.4);
  color: #8F0D0F;
  border-left: 5px solid #8F0D0F;
  border-right: 5px solid #8F0D0F;*/
}

/*----------- Home page ------------------*/

#profile h1
{
  color: #525049;
  border: none;
  text-align: center;
  position: relative;
  top: 10px;
}

#profile_img
{
  width: 100px;
  height: 100px;
  border-radius: 200px;
  background-image: url("../img/profile.png");
  background-repeat: no-repeat;
  background-size: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.list_items
{
  font-family: 'Segoe UI';
  margin-top: 80px;
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}

.create_list
{
  border: 3px solid #8FE862;
  color: #8FE862;
  font-weight: bold;
  width: 330px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  cursor: pointer;
}

.list
{
  margin-top: 35px;
  width: 350px;
  height: 50px;
  background-color: #F2E3E3;
  color: #525049;
  cursor: pointer;
}

.list a
{
  text-decoration: none;
}

.list:hover
{
  background-color: #8FE862;
  color: #fff;
}

.create_list:hover
{
  background-color: #8FE862;
  color: #fff;
}

.input_list_title
{
  background-color: #fff;
  border: none;
}

.cancel_button, .save_list_button, .delete_task_button, .delete_list_button
{
  display: inline;
  width: 100px;
  border: none;
}

.save_list_button
{
  background-color: #8FE862;
  border-radius: 20px;
  padding: 10px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.save_list_button:hover
{
  background-color: #10B01D;
}

.cancel_button
{
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
}

/*--------------- CREATE A NEW LIST ------------------*/

#create_list_form
{
  margin-top: 60px;
}


#create_new_list
{
  width: 350px;
  height: 220px;
  padding: 20px;
  background-color: #F2E3E3;
  position: absolute;
  top: 10%;
  left: 10%;
}

/*---------------------List overview -------------------*/

#list_items
{
  display: block;
  width: 80%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

#to_do h2, #done h2
{
  margin-top: 25px;
  font-size: 20px;
  /*border-bottom: 2px solid #000;*/
  padding: 10px;
  background-color: rgb(143, 232, 98, 0.8);
  color: #fff;
}

#to_do div
{
  margin-top: 30px;
}

.add_task_button
{
  text-decoration: none;
  padding: 5px;
  color: #fff;
  border: 1px solid #8FE862;
  background-color: #8FE862;
}

.add_task_button:hover
{
  border: 1px solid #10B01D;
  background-color: #10B01D;
}

.to_dos tr
{
  border: 1px solid #F2E3E3;
  background-color: #F2E3E3;
  text-decoration: none;
}

.to_dos tr:hover
{
  border: 1px solid #D1C5C5;
  background-color: #D1C5C5;
}

.to_dos td
{
  padding-top: 20px;
  padding-bottom: 20px;
}

.deadline
{
  width: 100px;
}
.task_title
{
  width: 220px;
}

.done_button
{
  border: 2px solid #8FE862;
  width: 100px;
  background-color: #8FE862;
  color: #fff;
  font-weight: bold;
  padding: 5px;
  cursor: pointer;
}

.done_button:hover
{
  border: 2px solid #10B01D;
  background-color: #10B01D;
}

/*-------------- delete list --------------------*/

#delete_list
{
  width: 350px;
  height: 220px;
  padding: 20px;
  background-color: #F2E3E3;
  position: absolute;
  top: 10%;
  left: 10%;
}

.delete_list_button
{
  background-color: red;
  border: none;
  color: #fff;
}

#delete_list span
{
  font-weight: bold;
}

/*------------------Add a new task ----------------------*/

#add_task_form
{
  display: block;
  width: 80%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

#add_task_form h1
{
  margin-bottom: 50px;
}

.input_title, .input_deadline, .input_time, .input_file
{
  background-color: #F2E3E3;
  border: none;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 15px;
}

.input_about
{
  background-color: #F2E3E3;
  border: none;
  width: 350px;
  height: 200px;
  display: block;
}

/*------------- task info ------------------*/

.task_info
{
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.deadline_and_time
{
  margin-top: 50px;
}

.deadline_and_time tr
{
  height: 25px;
}

.deadline_and_time th
{
  font-weight: bold;
  width: 150px;
  text-align: left;
}

#delete_task
{
  width: 350px;
  height: 150px;
  padding: 20px;
  background-color: #F2E3E3;
  position: absolute;
  top: 10%;
  left: 10%;
}

#delete_task span
{
  font-weight: bold;
}

.delete_task_button
{
  width: 150px;
  border: none;
  background-color: red;
  color: #fff;
  cursor: pointer;
}

.comments
{
  padding-top: 50px;
}


.comments form
{
  margin-top: 30px;
}

.comments textarea
{
  width: 350px;
  height: 50px;
}

.comments input
{
  width: 100px;
}

#Send_btn
{
  border: 1px solid #8FE862;
  background-color: #8FE862;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  font-weight: bold;
}

#Send_btn:hover
{
  border: 1px solid #10B01D;
  background-color: #10B01D;
}

#listupdates li
{
  border: 1px solid #F2E3E3;
  border-radius: 20px;
  height: 50px;
  padding-top: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
  background-color: #F2E3E3;
}

/*--------------Admin ------------------*/

#total_users, #total_lists
{
  font-family: 'Segoe UI';
  width: 100px;
  height: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 100px;
  padding-right: 50px;
  background-color: #F2E3E3;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#total_users span, #total_lists span
{
  font-size: 30px;
  font-weight: bold;
  color: #8FE862;
}

#total_users img, #total_lists img
{
  position: relative;
  left: -80px;
}

#total_users div, #total_lists div
{
  position: relative;
  top: -40px;
  left: -10px;
}

#total_users a
{
  position: relative;
  left: -80px;
  top: -20px;
}

/*-----------Admin user list --------------*/

.user_table
{
  margin-top: 50px;
  width: 90%;
}

.user_table td:first-child
{
  width: 80%;
}

.user_table th
{
  font-weight: bold;
  text-align: left;
  height: 50px;
  background-color: #8FE862;
  color: #fff;
}

.user_table tr
{
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #8FE862;
}




/*------------FOOTER ---------------*/

footer
{
  width: 100%;
  height: 50px;
  background-color: #F2E3E3;
  position: relative;
  margin-top: 50px;
  bottom: 0;
}
